<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Cool Submissions and Components</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <h1>Cool Submissions and Components</h1>
  <div class="description1">Input your name and email address. Your name needs to contain at least two characters. Your email needs to be valid.<br>Submission will occur automatically when your name and email address is correct.</div>
  <div class="inputStyler">
    <input placeholder="Your Name..." v-model="name" /><br>
    <input placeholder="Your Email..." v-model="email" />
    <div class="whatLeft">{{whatLeft}}</div>
    <div class="submit">{{submit}}</div>
  </div>

  <div class="description2">Now click on a character name to see their codename!</div>

  <div class="buttonStyler">
    <character v-for="item in list" v-bind:name="item.name" v-bind:cname="item.codename" v-bind:flipped="item.flipped"></character>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
